<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanio - patient</title>
    <link rel="stylesheet" href="./css/patientLogin.css">
  </head>
  <body>
    <div class="patient">
      <form action="/verifyOTP" method="post">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" name="otp" placeholder="Enter the OTP Number" required>
        </div>

        <div>
            <button class="btn">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>